* {
  box-sizing: border-box;
}
body {
  margin: 0px;
  font-size: 1rem;
  text-align: center;
  height: 100vh;
  padding: 20px;
  background:rgba(79, 79, 179, 0.892);
}
section {
  display: flex;
  justify-content: center;
  border: 1px solid;
  width: 100%;
}
a {
  text-align: start;
}
.intro-content {
  background-image: url("./assets/register.jpg");
  min-height: 50vh;
  background-size: cover;
  background-position: center;
  border: 1px solid;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-color: aqua; */
  padding: 0 0.25em 2em;
  border: 2px solid gray;
  background-color: white;
}
.top-text {
  order: -1;
  font-weight: 0.626rem;
  font-weight: 900;
  padding: 2px;
  border-top: 2px solid violet;
  /* color: burlywood;
   border-image: linear-gradient(to right, #ff731b, #ffa51d) 1; */
}
h1 + p {
  margin: 0;
}
.bold-text {
  /* font-weight: 70; */
  /* font-size: ; */
}
.person-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  order: -2;
}
.main-content > *,
.intro-content > * {
  max-width: 400px;
  margin: 0 auto;
}
.main-content {
  display: flex;
  flex-direction: column;
  /* text-align: center; */
  /* justify-content: center; */
  padding: 1em 2em;
  align-items: center;
  min-height: 50vh;
  background: white;

  border: 2px solid gray;
  border-radius: 5px;
}
h2 {
  padding: 0.5em;
  /* color: aqua; */
}
h2 + h3,
h3 + img + p {
  /* margin-bottom: 5em; */
  padding-bottom: 1em;
}
h3 + img + p {
  text-align: start;
}
.form-group {
  position: relative;
  border-bottom: 1px solid black;
}
input,
.btn {
  width: 100%;
  padding: 1em;
  /* margin-bottom: 2em; */
  border: none;
  /* border: gray 2px solid; */
  border-radius: 5px;
  /* transition: all 0.8s; */
  margin-left: 20px;
}
input:focus {
  border: none;
  /* border: gray 2px solid; */
  /* scale: 10px;
  transform: scale(1.1); */
}
span {
  color: blueviolet;
}
.btn {
  width: 100%;
  color: white;
}
.icons {
  position: absolute;
  left: 0;
  bottom: 30%;
  /* border: 1px solid red; */
}
.btn:hover {
  /* border: none; */
  /* border: gray 2px solid;
  scale: 10px;
  transform: scale(1.1); */
}
.info-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
  /* margin-top:"" */
}
p {
  line-height: 1.5rem;
  font-size: 16px;
}
.btn {
  width: 100%;
  background: linear-gradient(
    to left,
    rgb(138, 61, 226),
    rgba(77, 15, 158, 0.282)
  );
  border: none;
  /* border-radius: 5px; */
}
.file-input {
  border: 1px solid;
}
.fine-text {
  text-align: start;
  padding-top: 10px;
  margin: none;
}
strong {
  font-weight: 700;
  /* font-size: 20px; */
}
@media (min-width: 600px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .intro-content,
  .main-content {
    /* min-width: 50vw; */

    width: 30%;
    min-height: 60vh;
  }
  .main-content {
    justify-content: center;
  }
}
